
	h1 {
		font-size: 24PX;
		color: blue;
		text-align:  center;
	}
	h2 {
		font-size: 18PX;
		text-align: center;

	}
	h3 {font-size: 18PX;
		text-align: center;
	}
    h4 {
	color: blue;
	font-size: 24PX;

}

	li {
	font-size: 12PX;
}
	p {
	color: black;
	font-size: 18PX;
	}

	